/* div {
    margin-top: 15%;
} */

/* .titleDiv h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.titleDiv p {
    color: #fff;
    display: flex;
    justify-content: center;
    vertical-align: top;
    text-align: center; 
    font-size: 23px;
    /* font-weight: 600; */
/* }

p {
    line-height: 10px;
}

.secondPar {
    text-decoration-thickness: .15rem;
    text-decoration-color: #713EDC;
}

.line-1 {
    height: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background: linear-gradient(45deg, #a801ff, #0006ff);
    max-width: 600px;
}  */