.mainNavigation {
    margin: 2rem;
}

.navigationList {
    list-style-type: none;
}

.primary-header {
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.flex {
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}

.themeButton {
    /* margin: 2rem; */
    border: none;
    background-color: transparent;
    position: absolute;
    margin-left: 95%;
    cursor: pointer;
}