div {
    margin-top: 23%;
    margin-left: 1rem;
}

.titleDiv h1, .titleDiv p{
    color: #fff;
    display: flex;
    vertical-align: top;
    text-align: left;
}

p {
    line-height: 10px;
}

.secondPar {
    text-decoration: underline;
    text-decoration-thickness: .15rem;
    text-decoration-color: #713EDC;
}